body{
    /*
    background-image: url(./assets/bg_dark_mobile.jpg);
    background-repeat: no-repeat;
    background-position : top center;
    background-size : cover;
    */
    background: url(./assets/bg_dark_mobile.jpg) no-repeat top center/cover;
}